#custom-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    padding: inherit;
    bottom: 0;
}

.left-button {
    margin-right: 4px
}

.instruction-text {
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.instruction-counter {
    position: absolute;
    top: 0;
    left: 0;
    padding: inherit;
}